<h2>Lista menu</h2>
<br/>

<table style="width: 100%;" cellpadding="0" cellspacing="0">
  <tr>
    <th>Restauracja</th>
    <th>Danie</th>
    <th>Kategoria menu</th>
    <th>Cena</th>
    <th>Czas</th>
    <th>Pokaż</th>
    <th>Edytuj</th>
    <th>Usuń</th>
  </tr>

<% for menu in @menus %>
  <tr>
    <td><%=h menu.restaurant.name %></td>
    <td><%=h menu.meal.name %></td>
    <td><%=h menu.category.name %></td>
    <td><%=h menu.price %> zł</td>
    <td><%=h menu.duration %> min</td>
    <td style="text-align: center;"><%= link_to image_tag("../images/signs/show.png", :class => "icon"), menu %></td>
    <td style="text-align: center;"><%= link_to image_tag("../images/signs/edit.png", :class => "icon"), edit_menu_path(menu) %></td>
    <td style="text-align: center;"><%= link_to image_tag("../images/signs/delete.png", :class => "icon"),  menu, :confirm => 'Czy aby na pewno?', :method => :delete %></td>
    </tr>
<% end %>
</table>

<br />
<%= image_tag("../images/signs/add.png", :class => "icon") %> <%= link_to 'Dodaj menu', new_menu_path %>
