<p>
  <b>Restauracja:</b>
  <%=h @menu.restaurant.name %>
</p>

<p>
  <b>Danie:</b>
  <%=h @menu.meal.name %>
</p>

<p>
  <b>Kategoria menu:</b>
  <%=h @menu.category.name %>
</p>

<p>
  <b>Cena:</b>
  <%=h @menu.price %> zł
</p>

<p>
  <b>Czas oczekiwania:</b>
  <%=h @menu.duration %> min.
</p>


<%= link_to 'Edycja', edit_menu_path(@menu) %> |
<%= link_to 'Powrót', menus_path %>
