<h1>Użytkownicy</h1>
<br />

<table>
  <tr>
    <th>Login</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Email</th>
    <th colspan="2">Opcje</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.name %></td>
    <td><%=h user.surname %></td>
    <td><%=h user.email %></td>
    <td width="10"><%= link_to 'Edycja', edit_user_path(user) %></td>
    <td width="10"><%= link_to 'Usuń', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Wróć', '/welcome/admin' %> |
<%= link_to 'Dodaj użytkownika', new_user_path %>
