<h1>Dodaj użytkownika</h1>
<br />
<% form_for(@user) do |f| %>
<center>
  <%= error_messages_for 'user', :message => 'Wystąpiły następujące problemy podczas próby zapisu:', :header_message => 'Operacja nie powiodła się' %>
</center>
<table>
  <tr>
    <td>Login</td>
    <td><%= f.text_field :login %></td>
  </tr>
  <tr>
    <td>Hasło</td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td>Imię</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>Nazwisko</td>
    <td><%= f.text_field :surname %></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td>Administrator</td>
    <td><%= select( "user", "isadmin", { "Nie" => "false", "Tak" => "true"}) %></td>
  </tr>
</table>
<p>
  <br/>
  <%= f.submit "Utwórz" %>
</p>
<% end %>
<br/>
<%= link_to 'Wróć', users_path %>
