<h1>Listing books</h1>

<table>
  <tr>
    <th>Restaurant</th>
    <th>User</th>
    <th>Book date</th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%=h book.restaurant %></td>
    <td><%=h book.user %></td>
    <td><%=h book.book_date %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path %>
