<p>
  <b>Restaurant:</b>
  <%=h @book.restaurant %>
</p>

<p>
  <b>User:</b>
  <%=h @book.user %>
</p>

<p>
  <b>Book date:</b>
  <%=h @book.book_date %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
