<h1>New meal</h1>

<% form_for(@meal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :elements %><br />
    <%= f.text_area :elements %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= select("meal", "unit", %w[ml l dkg kg], {}) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', meals_path %>
