<%= render :partial => 'special_offer_form' %>

<div id="menu_body">
  <div class="header_menu">Dane kontaktowe:</div>
  <div class="body_menu">
    <br/>
    <p>Właściciel: <%= @restaurant.owner %></p><br/>
    <p><%= @restaurant.city %></p>
    <p>ul. <%= @restaurant.street %> <%=  @restaurant.number %></p>
    <p>Telefon: <%= @restaurant.phone %></p>
    <p>E-mail: <%= @restaurant.email %></p>

    <%= image_tag @restaurant.photo.url(:thumb) %>
    
  </div>
</div>