<h1>Editing restaurant</h1>

<% form_for(@restaurant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    x<br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    y<br />
    <%= f.text_field :longitude %>
  </p>
<p>

<%= @map.div(:width => 400, :height => 400) %>
</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
