<h2>Lista restauracji</h2>
<br/>

<table style="width: 100%">
  <tr>
    <% @count = 0 %>
    <% for restaurant in @restaurants %>
      <% @count = @count + 1 %>
      <td width="50%">
        <div style="float: left; padding-right: 12px;">
          <%= link_to image_tag(restaurant.photo.url(:thumb), :class => 'image_border_menu'), restaurant_path(restaurant) %>
        </div>
        <div><b><%= link_to restaurant.name, restaurant_path(restaurant) %></b><br />
          <%=h restaurant.address %><br />
          Telefon: <%=h restaurant.phone %><br/>
          Kuchnia: <%=h restaurant.cuisine.name %><br/>
          <%= link_to image_tag("../images/signs/show.png", :title => "Szczegóły", :class => "icon"), restaurant_path(restaurant) %> &nbsp;
          <%= link_to image_tag("../images/signs/www.png", :title => "Strona WWW", :class => "icon"), {:controller => "restaurants", :action => "home", :id => restaurant.id} %> &nbsp;
	  <% if @is_admin %>
	  <%= link_to image_tag("../images/signs/house.png", :title => "Konfigurator sali", :class => "icon"), {:controller => "restaurants", :action => "places", :id => restaurant.id} %> &nbsp;
          <%= link_to image_tag("../images/signs/edit.png", :title => "Edycja", :class => "icon"), edit_restaurant_path(restaurant) %>
	  &nbsp;
          <%= link_to image_tag("../images/signs/delete.png", :title => "Usuń", :class => "icon"), restaurant, :confirm => 'Na pewno?', :method => :delete %>
	  <% end %>
        </div>
      </td>

      <%  if @count%2==0 %>
      </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>

<br />

<%= link_to image_tag("../images/signs/add.png", :class => "icon") %> <%= link_to 'Dodaj restaurację', new_restaurant_path %>
