<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
  </tr>

<% for restaurant in @restaurants %>
  <tr>
    <td><%=h restaurant.name %></td>
    <td><%=h restaurant.desc %></td>
    <td><%= link_to 'Show',  restaurant_path(restaurant) %></td>
    <td><%= link_to 'WWW', {:controller => "restaurants", :action => "home", :id => restaurant.id} %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New restaurant', new_restaurant_path %>
