<h1>Lista restauracji</h1>
<br/ >
<table>
<% for restaurant in @restaurants %>
  <tr>
    <td><%= image_tag restaurant.photo.url(:thumb), :style => 'float : left; margin-right : 10px;' %> </td>
    <td><b><%=h restaurant.name %></b><br />
      <%=h restaurant.address %><br />
      <%= link_to 'Szczegóły', restaurant_path(restaurant) %>
      <%= link_to 'Strona www', {:controller => "restaurants", :action => "home", :id => restaurant.id} %>
      <%= link_to 'Edycja', edit_restaurant_path(restaurant) %> 
      <%= link_to 'Usuń', restaurant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj restaurację', new_restaurant_path %>
