<div id="specials" >
  <div class="header_menu" style="margin-left: -2px;">Menu</div>

  <ul>
    <% for category in @category_list %>

      <li style="padding-top: 5px; font-size: 12px; font-weight: bold;"><%= link_to Category.find(category.category_id).name, {:controller => "restaurants", :action => "menu", :id => @restaurant.id, :category => category.category_id}, :class => "no_underline" %></li>

    <% end %>
  </ul>

  <div style="padding-left: 30px; font-size: 11px;">
    <%= link_to image_tag("../images/signs/add.png", :class => "icon"), {:controller => "restaurants", :action => "add_menu_to_restaurant", :id => @restaurant.id} %> <%= link_to 'Dodaj pozycję menu', {:controller => "restaurants", :action => "add_menu_to_restaurant", :id => @restaurant.id} %>
  </div>

</div><!-- end specials -->

<div id="menu_body">
  <div class="header_menu">
    <% if !params[:category].nil? %>
      <%= Category.find(params[:category]).name %>
    <% else %>
      Dania
    <% end %>
  </div>

  <div class="body_menu">
    <% unless !@restaurant_menu %>

      <table width="100%" style="padding-left: 10px;">
        <% for menu in @restaurant_menu %>
          <tr>
            <td width="30px">
              <%= link_to image_tag(menu.meal.meal_photo.url(:thumb), :size => "80x75", :class => "image_border_menu"), {:controller => "restaurants", :action => "show_meal", :id => @restaurant.id, :menu_id => menu.id}, :class => "meal_name_biger" %>
            </td>
            <td style="vertical-align: top; padding: 5px 10px;">
              <center>
                <div style="font-weight: bold; font-size: 12px;">
                  <%= link_to menu.meal.name, {:controller => "restaurants", :action => "show_meal", :id => @restaurant.id, :menu_id => menu.id}, :class => "meal_name_bigger" %>
                </div>
              </center>
              <div style="padding: 2px 0px 0px 0px;">
                <%=h menu.meal.desc %><br/>
                <b>Składniki:</b> <%=h menu.meal.elements %><br />
                <b>Cena:</b> <%=h menu.price %><br/>
                <b>Ilość:</b> <%=h menu.meal.amount %>  <%=h menu.meal.unit %><br/>
                <b>Czas przygotowania:</b> <%=h menu.duration %><br/>
              </div>
            </td>

          </tr>
        <% end %>
      </table>

    <% end %>
  </div>
</div>
