<%= image_tag @restaurant.photo.url(:thumb) %>

<p>
  <b>Name:</b>
  <%=h @restaurant.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @restaurant.desc %>
</p>
<p>
  <b>Adres:</b>
  <%=h @restaurant.address %>
</p>
<p>
<%= @map.div(:width => 600, :height => 400) %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
