<h2>
  <%=h @restaurant.name %>
</h2>
<br />
<div style="min-height : 170px;">
  <%= image_tag @restaurant.photo.url(:medium), :style => 'float : left; margin-right : 10px;' %>  <%=h @restaurant.desc %>
</div>
<p>
  <b>Adres:</b>
  <%=h @restaurant.address %>
</p>
<center>
<%= @map.div(:width => 600, :height => 400, :class => 'map') %>
</center>
<br />
<%= link_to 'Wróć', restaurants_path %>
