<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Rezerwacja restauracji - Food Online - <%= controller.action_name %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="restauracja, rezerwacja, ruby" />
    <%= stylesheet_link_tag "foodonline" %>
    <%= stylesheet_link_tag "ui.theme" %>
    <link type="text/css" href="http://jquery-ui.googlecode.com/svn/trunk/themes/base/ui.allplugins.css" rel="Stylesheet" class="components" />
    <%= javascript_include_tag "jquery-1.2.6" %>
    <%= javascript_include_tag "jquery-ui" %>
    <link type="text/css" href="http://jquery-ui.googlecode.com/svn/trunk/themes/base/ui.core.css" rel="Stylesheet" class="components" />

    <%= GMap.header %>

    <% if @map.nil? %>
    <% else %>
     <%= @map.to_html %>
    <%  end    %>
    <script>
      $(document).ready(function(){
      <% if flash[:notice] %>
      document.getElementById('info_dialog').style.display = '';
      $("#info_dialog").dialog({
      modal:true,
      resizable:false
      });
      $('#b_closer').click(function(){
      $('#info_dialog').dialog('close');
      });
      <% end %>
      })
    </script>
  </head>
  <body>
  <div id="wrapper">
    <div style="position : absolute; top : 10px; right : 10px;">
      <% if session[:user]%>
      <a href="/login/logout">Wyloguj się</a>
      <% end %>
    </div>
    <div id="logo">
      <h1>Bistro Ministro</h1>
      <p>Najlepsza sieć restauracji</p>
    </div>
    <div id="nav">
      <div id="nav-left">
        <ul>
          <li><a href="/welcome/main">Strona główna</a></li>
          <li class="orange"><a href="/welcome/show">Mapa restauracji</a></li>
        </ul>
      </div>
      <div id="nav-right">
        <ul>
          <li><%= @user_link%></li>
          <li><a href="/meals">Posiłki</a></li>
          <li><a href="/restaurants/">Restauracje</a></li>
          <li><a href="/welcome/about">O nas</a></li>
        </ul>
      </div>
    </div>
    <div id="body">
      <div id="info_dialog" title="Informacja" style="display : none; font-size : small">
	<p><%= flash[:notice] %></p>
	<br/>
	<button id="b_closer" class="ui-state-default ui-corner-all" type="button"> Ok </button>
      </div>
      <%= yield  %>
      <br/>
      <br/>
      <div class="clear"> </div>
      <div id="footer">
        <!--<ul>
          <li><a href="http://www.freewebsitetemplates.com">Home</a> | </li>
          <li><a href="http://www.freewebsitetemplates.com">About Us</a> | </li>
          <li><a href="http://www.freewebsitetemplates.com">Menu</a> | </li>
          <li><a href="http://www.freewebsitetemplates.com">Service</a> | </li>
          <li><a href="http://www.freewebsitetemplates.com">Special offer</a> | </li>
          <li><a href="http://www.freewebsitetemplates.com">Contact</a></li>
        </ul>-->
        <p>copyright &copy; Bistro Ministro</p>
      </div>
    </div>
  </div>
</body>
</html>
