<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Rezerwacja restauracji - <%= controller.action_name %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="restauracja, rezerwacja, ruby" />
    <%= stylesheet_link_tag "restaurant" %>
    <%= stylesheet_link_tag "ui.theme" %>
    <link type="text/css" href="http://jquery-ui.googlecode.com/svn/trunk/themes/base/ui.allplugins.css" rel="Stylesheet" class="components" />
    <%= javascript_include_tag "jquery-1.2.6" %>
    <%= javascript_include_tag "jquery-ui" %>
    <link type="text/css" href="http://jquery-ui.googlecode.com/svn/trunk/themes/base/ui.core.css" rel="Stylesheet" class="components" />

    <%= GMap.header %>

    <% if (@map != nil) %>
      <%= @map.to_html %>
    <% end %>

  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1 class="mj_title"><center><%= @restaurant.name%></center></h1>
        <ul id="nav">
          <li><%= link_to 'HOME', {:controller => "restaurants", :action => "home", :id => @restaurant.id} %>  &nbsp;|&nbsp;</li>
          <li><%= link_to 'MENU', {:controller => "restaurants", :action => "menu", :id => @restaurant.id} %>  &nbsp;|&nbsp;</li>
          <li><%= link_to 'REZERWACJA', {:controller => "restaurants", :action => "book", :id => @restaurant.id} %>  &nbsp;|&nbsp;</li>
          <li><%= link_to 'KONTAKT', {:controller => "restaurants", :action => "contact", :id => @restaurant.id} %>  &nbsp;|&nbsp;</li
          <li><%= link_to 'STRONA GŁÓWNA', {:controller => "welcome", :action => "main"} %></li>
        </ul><!-- end nav -->
        <div id="welcome">
          <h2><img src="../../images/restaurant/title_welcome.gif" alt="Welcome to our Restaurant" /></h2>
          <p>
            <%= @restaurant.desc%>
          </p>
        </div><!-- end welcome -->
      </div><!-- end header -->
      <div id="body">

        <%= yield  %>

        <div class="clear" id="spacer"></div>
      </div><!-- end body -->
      <div id="hotstuff">
        <div class="header_menu" style="width: 770px; border-top: 1px solid white;">Dania dnia</div>

        <% for menu in @hot_menu %>
          <div id="hot-one" class="imagebox" style="width: 241px;">
            <div style="float: left; padding-right: 8px;">
              <%= image_tag menu.meal.meal_photo.url(:thumb), :size => '89x67' ,:class => 'image_border' %>
            </div>
            <div>
              <h3><a href="http://www.freewebsitetemplates.com" style="font-size: 11px;"><%= menu.meal.name %> </a></h3>
              <p>
                <%= menu.meal.desc[0 .. 40] %>
                <% if menu.meal.desc.size > 40 %>
                  ...
                <% end %>
              </p>
              <p class="readmore"><a href="http://www.freewebsitetemplates.com">... więcej</a></p>
            </div>
          </div>

        <% end %>

        <div class="clear"></div>
      </div><!-- end hotstuff -->

    </div><!-- end wrapper -->

  <!-- Do not remove read http://www.freewebsitetemplates.com/termsofuse/ -->
    <div id="footer">
      Powered by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a>
    </div><!-- end footer -->
  </body>
</html>
